.manage
  padding-top: 8px
  padding-bottom: 15px

  .list_dates
    font-size: 16px

    .date-view-link
      padding: 2px 0

  .btn-place-submit
    float: left
    margin-right: 10px

  .places_list
    padding: 10px
    margin-bottom: 10px

    a
      font-size: 20px
      padding: 10px

    .number
      font-size: 25px

    .actions
      padding-top: 6px
      text-align: right

  .btn-actions
    line-height: 85px
    text-align: right

  .manage_panel
    a
      padding: 20px 0px
      margin: 15px auto 5px
      display: block
      width: 400px
      font-size: 20px

  .date_temp_form
    .btn-success
      width: 200px

    .date_temp_temps_temperature
      margin-bottom: 0

  .temperature_table
    h1
      padding-bottom: 15px

    table
      td
        border: 1px solid #ccc
        padding: 10px

        &:first-child
          font-weight: bold

      th
        border: 1px solid #ccc
        width: 250px
        padding: 10px
        font-weight: bold
        font-size: 20px

    .btn-success
      margin: 15px 0

