<div class='row'>
  <div class='col-xs-12'>
    <h3>Редактировать приказ</h3>
  </div>
  <%= simple_form_for @order, url: manage_order_path do |f| %>
    <%= render 'form', f: f %>
    <%= link_to "Удалить", manage_order_path(@order), method: :delete, data: { confirm: 'Удалить документ?' } %>
  <% end %>
</div>
