<%= render "widgets/back_button" %>
<div class="col-xs-10 col-xs-offset-1 orders">
  <h1>Приказы</h1>
  <% @orders.each do |order| %>
    <h2><%= order.title %></h2>

    <% if order.document_content_type == 'application/pdf' %>
      <embed src="<%= order.document.url %>#toolbar=0&navpanes=0&scrollbar=0" width="100%" height="800">
    <% else %>
      <%= image_tag order.document.url, class: "img-responsive" %>
    <% end %>
  <% end %>
</div>

